body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 2em 0;

    background-image: url('Homepage Images/BannerImage.jpg');
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */

}

.menu-btn {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    nav ul li {
        margin-top: 10px;
        margin-left: 0;
    }
}