header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    nav ul li {
        margin-top: 10px;
        margin-left: 0;
    }
}
